tags
build/
.depend
*.o
*.raw
main
top_block.py
NetAlarm/tests/tests
googletest-master
cfg.json
secret.hpp
.vscode

# kicad
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# stm32cudeide
Debug/
.settings/
.mxproject
.cproject
