tags
build/
.depend
*.FCStd1
*.o
*.raw
top_block.py
NetAlarm/tests/tests
googletest-master
cfg.json
secret.hpp
config.hpp
.vscode
.vs
x64/
x86/

# kicad
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-rescue.lib
*-save.pro
*-save.kicad_pcb
fp-info-cache
*-cache.lib

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# stm32cudeide
Debug/
Release/
.settings/
.mxproject

#nrf5
nRF5_SDK_17
_build

spice/*.log
spice/*.raw

